
body {
    font-size: small;
    background-color: black;
    font-family: Arial;
    text-align: center;
    align-items: center;
}
h1 {
    color: #B557E6;
}
img {
    margin: auto;
    display: block;
    width: 20%;
}
button {
    background-color: #B557E6;
    padding: 1%;
    border-radius: 30%;
    border: none;
    margin: 2%;
}
button:hover {
    background-color: #471E59;
}
.carta{
    background-image:url("imagenes/carta.avif");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
    padding: 35%;
    border-radius: 3%;
    opacity: 0;
    transform: scale(0.5);
    transition: all 3s ease;
}
p {
    font-size: 230%;
}
.fin {
    margin-bottom: 20%;
}
.fuera {
    display: none;
}
.abrir{
    opacity: 1;
    transform: scale(1);
}
@media (max-width:600px){
    h1 {
        font-size: large;
    }
    img{
        width: 40%;
    }
    button{
        padding: 5%;
    }
    .carta{
        font-size: xx-small;
        padding: 20%;
    }
    p{
        font-size: 140%;
    }
    .fin{
        margin-bottom: 15%;
    }
}
